<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Welocome to Admin</title>
    <link rel="stylesheet" href="/css/fontawesome_all.css">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/mdbfull.css" rel="stylesheet">

    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<form action="#" th:action="@{/admin/voucher}"  th:method="get">
<button  type="submit"   class="btn btn-success">Add Voucher</button>
</form>

<form action="#" th:action="@{'/admin/voucher/{id}'(id=1)}"  th:method="delete">
    <button type="submit" class="btn btn-danger">Delete</button>
</form>



<div >

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">VoucherId</th>
            <th scope="col">Description</th>
            <th scope="col">Name</th>
            <th scope="col">Priority</th>
            <th scope="col">Rating</th>
            <th scope="col">Short Description</th>
            <th scope="col">Show on   Homepage</th>
            <th scope="col">Title</th>
            <th scope="col">Voucher Type</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="voucher : ${voucherList}">
            <td>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="a" name="groupOfMaterialRadios">
                    <label class="form-check-label" for="a">Option 1</label>
                </div>

            </td>

            <td th:text="${voucher.voucherId}"></td>
            <td  th:text="${voucher.longDescription}"></td>
            <td ><a th:text="${voucher.name}" th:href="@{'/admin/voucher/id?id='+${voucher.voucherId}}"></a></td>
            <td th:text="${voucher.priority}"></td>
            <td th:text="${voucher.rating}"></td>
            <td th:text="${voucher.shortDescription}"></td>
            <td th:text="${voucher.show_homepage}"></td>
            <td th:text="${voucher.title}"></td>
            <td th:text="${voucher.voucherType}"></td>


        </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="/js/mdbfull.js"></script>
<script type="text/javascript" src="/js/slick.min.js"></script>
</body>
</html>