<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Brewed Bros</title>

    <link rel="stylesheet" href="css/fontawesome_all.css">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/mdbfull.css" rel="stylesheet">
    <link href="/css/slick.min.css" rel="stylesheet">
    <link href="/css/slick-theme.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <!-- <link href="css/normalize.css" rel="stylesheet"> -->
</head>
<body>
<header th:include="header :: header" style="position: sticky; top: 0; z-index: 10;"></header>

<div th:include="header :: loginpopup"></div>
<main>
    <div th:text="${event}"></div>
</main>
<footer id="footer" th:include="footer :: footer"
        class="page-footer center-on-small-only unique-color-dark pt-0"></footer>

<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="/js/mdbfull.js"></script>
<script type="text/javascript" src="/js/slick.min.js"></script>
<script>
</body>
</html>