<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="footer">
		<div class="info-color-dark text-center py-4">
			<a href="/"
				class="border rounded p-2 px-3 mr-4 d-none d-md-inline-block">Newsletter
				<i class="fa fa-envelope white-text ml-2"> </i>
			</a> <a href="/"
				class="border rounded p-2 px-3 mr-4 d-none d-md-inline-block">Affiliate
				program <i class="fa fa-money white-text ml-2"> </i>
			</a> <a href="/" data-toggle="modal" data-target="#contactForm"
				class="border rounded p-2 px-3 mr-4 d-none d-md-inline-block">Contact
				<i class="fa fa-envelope white-text ml-2"> </i>
			</a> <a href="/"> <i class="fab fa-youtube white-text mr-4"> </i>
			</a> <a href="/"> <i class="fab fa-facebook white-text mr-4"> </i>
			</a> <a href="/"> <i class="fab fa-twitter white-text mr-4"> </i>
			</a> <a href="/"> <i class="fab fa-instagram white-text mr-4"> </i>
			</a>
		</div>
		<div class="container mt-5 mb-4 text-center text-md-left">
			<div class="row mt-3">
				<div class="col-md-2 col-lg-4 col-xl-3 mb-r">
					<h6 class="spacing font-weight-bold">
						<strong>Cites</strong>
					</h6>
					<hr class="info-color mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">

					<p>
						<a href="/">Bangalore</a>
					</p>
					<p>
						<a href="/">Mumbai</a>
					</p>
					<p>
						<a href="/">Hyderabad</a>
					</p>
				</div>
				<div class="col-md-3 col-lg-2 col-xl-3 mb-r">
					<h6 class="spacing font-weight-bold">
						<strong>Popular</strong>
					</h6>
					<hr class="info-color mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>
						<a href="/">Nightlife things to do in bangalore</a>
					</p>
					<p>
						<a href="/">Best parties in bangalore</a>
					</p>
					<p>
						<a href="/">Events happening today in bangalore</a>
					</p>
					<p>
						<a href="/">Events this week in bangalore</a>
					</p>
				</div>
				<div class="col-md-3 col-lg-2 col-xl-3 mb-r">
					<h6 class="spacing font-weight-bold">
						<strong>Impartant Links</strong>
					</h6>
					<hr class="info-color mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>
						<a href="/">Upcoming Events</a>
					</p>

					<p>
						<a href="/">Events Tags</a>
					</p>

					<p>
						<a href="/">Past Events</a>
					</p>

				</div>
				<div class="col-md-4 col-lg-3 col-xl-3">
					<h6 class="spacing font-weight-bold">
						<strong>Trending</strong>
					</h6>
					<hr class="info-color mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>
						<i class="fa fa-envelope mr-3"></i> Brewed & Bros Certified Events
					</p>
					<p>
						<i class="fa fa-building mr-3"></i> Events this month in bangalore
					</p>
					<p>
						<a href="/"> <i class="fa fa-users mr-3"></i> Events this week
							in bangalore
						</a>
					</p>
				</div>

			</div>
			<div class="row mt-3">
				<div class="col-md-3 col-lg-3 col-xl-3 mb-r">
					<h6 class="spacing font-weight-bold">
						<strong>Useful links</strong>
					</h6>
					<hr class="info-color mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">

					<p>
						<a href="/">License</a>
					</p>
					<p>
						<a href="/">ChangeLog</a>
					</p>
					<p>
						<a href="/">Privacy Policy</a>
					</p>
					<p>
						<a href="/">Return/Refund policy</a>
					</p>
					<p>
						<a href="/">Students and universities</a>
					</p>
				</div>
				<div class="col-md-2 col-lg-2 col-xl-3 mb-r">
					<h6 class="spacing font-weight-bold">
						<strong>Resources</strong>
					</h6>
					<hr class="info-color mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>
						<a href="/">How To's</a>
					</p>
					<p>
						<a href="/">FAQ's</a>
					</p>
					<p>
						<a href="/">Blogs</a>
					</p>
				</div>
				<div class="col-md-3 col-lg-2 col-xl-3 mb-r">
					<h6 class="spacing font-weight-bold">
						<strong>Terms & Services</strong>
					</h6>
					<hr class="info-color mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>
						<a href="/">Create Event</a>
					</p>

					<p>
						<a href="/">We're Hiring</a>
					</p>

				</div>
				<div class="col-md-4 col-lg-3 col-xl-3">
					<h6 class="spacing font-weight-bold">
						<strong>Company</strong>
					</h6>
					<hr class="info-color mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>
						<i class="fa fa-envelope mr-3"></i> iman@bruebros.com
					</p>
					<p>
						<i class="fa fa-building mr-3"></i> Our story
					</p>
					<p>
						<a href="/"> <i class="fa fa-users mr-3"></i> Our team
						</a>
					</p>
					<p>
						<a href="/"> <i class="fa fa-bullhorn mr-3"></i> About Us
						</a>
					</p>
					<p>
						<a href="/"> <i class="fa fa-phone mr-3"></i> Contact us
						</a>
					</p>
					<p>
						<a href="/"> <i class="fa fa-bullhorn mr-3"></i> For media
						</a>
					</p>

				</div>

			</div>
		</div>
		<div class="footer-copyright py-1 text-center">
			© 2018 Copyright: <a href="/"> <strong> bruedbros.com</strong>
			</a>
		</div>


	</div>
</body>

</html>